

/* embed Canvas-Regular Font */
@font-face {
    font-family: 'canvasRegular';
    src: url("../../assets/fonts/canvas-regular.eot");
    src: url("../../assets/fonts/canvas-regular.woff") format("woff"),
         url("../../assets/fonts/canvas-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'canvasRegular', sans-serif;
}